body{
  display: flex;
  flex-direction: column;
  /*  英数字はHelvetica、日本語は游ゴシックが適用される。 */
  font-family: Helvetica , "游ゴシック", sans-serif;
}
.header{
  position:fixed; 
  top:0;
  left:0;
  margin: auto;
  padding: 10px;
  z-index: 1;
  /* position: relative; */
  width: 99%;
  height: 80px;
  align-items: center;
  background-color: #fff;
  /* background-color: blue; */
}
.header_sub{
  position: relative;
  /* background-color: red; */
}
/* .head{
  position: relative;
  height: 80px;
  align-items: center;
} */

/* 旭化成建材のロゴ */
.head-left{
  position:absolute; 
  height: 30px;
  align-items: center;
  background-color: #fff;
  padding: 25px 5px 25px 0px;
  /* box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8); */
}

.login_name {
  position:absolute;
  font-size: 20px;
  text-align: left;  /* 文章を左寄せする(※) */
  align-items: center;
  color: #333;
  left :470px;
  top:25px;
}

/* ログアウトアイコン　ベース */
.logout {
  position:absolute;
  display: inline-block;
  text-decoration: none;
  width: 80px;
  height: 80px;
  right : 0px;
  background-color: #b7e3ff;
  border: solid 2px rgba(0, 119, 255, 0.952);
  border-radius: 3px;
}

/* ログアウト扉　ベース */
.btn-logout-icon {
  display: inline-block;
  position:relative;
  width: 30px;
  height: 40px;
  text-align: center;
  background:#1da1f3;
  margin: 15px 0px 0 25px;
}

/* ログアウト扉　取って */
.door:before{
  content:''; 
  display:block; 
  position:absolute; 
  top:17px; 
  left:3px;
  height:5px; 
  width:5px; 
  background:#fff;
  border-radius:30px;
}
