fieldset{
  width:75%;
  margin:0 auto;
  margin-top:200px;
  margin-bottom:0%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

h1{
  background:rgb(2, 164, 240);
  padding:20px 0; /*PADDING TODOS OS LADOS DE 20PX*/
  font-size:40px;
  font-weight:400;
  text-align:center;
  color:#FFF;
}
button[type="submit"]{
  width:50%;
  padding:2%;
  font-size:130%;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border-radius: 5px;  
  background-color: #66FFFF;/* 背景色を緑色に指定 */
  color: #333;/* 文字色を黒に指定 */
  box-shadow: 2px 2px 3px 1px #666;
  -moz-box-shadow: 2px 2px 3px 1px #666;
  -webkit-box-shadow: 2px 2px 3px 1px #666;
}

label {
  /* すべてのラベルを同じサイズにして、きちんと揃える */
  display: inline-block;
  width: 100px;
  text-align: right;
  font-size:1.2em;
  /* background: orange; */
}


