body{
  display: flex;
  flex-direction: column;
  /*  英数字はHelvetica、日本語は游ゴシックが適用される。 */
  /* font-family: Helvetica , "游ゴシック", sans-serif; */
}

main{
  min-height: calc(100vh - 80px - 20px - 10px - 5px);
  /* min-height: 200vh; */
  display: flex;
  flex-direction: row;
  padding:90px 0 10px; 
  margin-top: 5px;
}

.menu{
  width: 200px;
  /* text-align: center; */
  background-color: #fff;
  /* background-color: red; */
  color: #333;
  font-size: 1.2em;  
}

.menu_sub{
  position:fixed; 
  z-index: 1;
  width: 200px;
  background-color: #fff;
  /* background-color: rgb(47, 255, 227); */
  color: #333;
  font-size: 1.2em; 
}

.main{
  /* display : flex; */
  flex: auto;
  background-color: #eee;
  /* background-color: green; */
  margin-left: 5px;
  text-align: center;
  align-items: center;

}

.collation{
  position:fixed;  
  align-items: center;
  left:calc(50% - 100px/2);
  background-color: #eee;
  position: fixed;
  width: 100%;
  text-align: center;
}

.collation_sub{
  display: inline-block;
}

label{
  font-size:32px;
}

a.kensaku{
  font-size: 30px;
  font-weight:600;
}

a.title{
  font-size: 30px;
}

a.syusei{
  font-size: 30px;
  font-weight:600;
}

input[type="file"]{
  font-size: 20px;
}

input.serial_num{
  font-size: 2.0em;  
  width:170px;
  height:45px;
}

#count_num{
  font-size: 3.5em;  
  width:60px;
  height:60px;
  text-align: center;
  background-color: #eee;
}

input.correct_serial_num{
  font-size: 2.0em;  
  width:170px;
  height:45px;
}

input.caster{
  font-size: 2.0em;  
  width:170px;
  height:45px;
}

input.pail_num{
  font-size: 2.0em;  
  width:80px;
  height:45px;
}

input.m_serial_num{
  font-size: 2.0em;  
  width:170px;
  height:45px;

}
input.m_pail_num{
  font-size: 2.0em;  
  width:80px;
  height:50px;
}

select.m_cross_section{
  font-size: 2.0em;  
  width:80px;
  height:45px;
}
/* #id_delivery_checker{
  font-size: 2.0em;  
  width:140px;
  height:45px;
}

#id_inspector{
  font-size: 2.0em;  
  width:140px;
  height:45px;
}

#id_caster{
  font-size: 2.0em;  
  width:140px;
  height:45px;
} */

#id_pail_num{
  font-size: 2.0em;  
  width:80px;
  height:45px;
}

#id_file{
  /* color: #B20000; */
  /* font-weight:bold; */
  font-size: 20px;

}

#id_serial_num{
  font-size: 2.0em;  
  width:170px;
  height:45px;
}

#id_cross_section{
  font-size: 2.0em;  
  width:80px;
  height:50px;
}

#id_start_casting{
  font-size: 2.0em;  
  width:170px;
  height:45px;
}

#id_delivery_record{
  font-size: 2.0em;  
  width:170px;
  height:45px;
}

#id_obj_name{
  font-size: 2.0em;  
  width:170px;
  height:45px;
}
/* input.delivery_checker{
  font-size: 1.0em;  
  width:140px;
  height:30px;
} */

/* input.inspector{
  font-size: 1.0em;  
  width:140px;
  height:30px;
} */

select.cross_section{
  font-size: 2.0em;  
  width:80px;
  height:50px;
}

input.btn{
  width: 10%;
  padding: 5px;
  border-radius: 5px;
  background-color: #0000EE;/* èƒŒæ™¯è‰²ã‚’ç·‘è‰²ã«æŒ‡å®š */
  color: #fff;/* æ–‡å­—è‰²ã‚’é»’ã«æŒ‡å®š */
  font-size: 28px;
}