body{
  display: flex;
  flex-direction: column;
  /*  英数字はHelvetica、日本語は游ゴシックが適用される。 */
  /* font-family: Helvetica , "游ゴシック", sans-serif; */
}

main{
  min-height: 1000vh;
  display: flex;
  margin-top: 5px;
  
}
.main{
  /* position: relative; */
  flex: 1;
  background-color: #eee;
  margin-left: 5px;
  text-align: center;
}

.menu{
  width: 200px;
  /* text-align: center; */
  background-color: white;
  color: #333;
  font-size: 1.2em;  
}

a.title{
  font-size: 24px; 
}
/* .myform{
  text-align: center;
}

.operator{
  position:absolute;
  left:200px;
}
.operator-label{
  text-align: center;
}

.pailnum{
  position:absolute;
  top:100px;
  left:200px;
} */

#download{
  font-size: 24px;
  font-weight:400;
}
#download_hway{
  font-size: 24px;
  font-weight:400;
}