body{
  display: flex;
  flex-direction: column;
}
/* .head{
  /* height: 70px; */
  /* text-align: center; */
  /* background-color: #D7EEFF; */
  /* color: #fff; */
/* } */
/* .login_name { */
  /* font-size: 10.0em; */
  /* text-align: left;  文章を左寄せする(※) */
  /* float: left;     左端に寄せて、後続を右側へ回り込ませる */
/* } */
/* .logout { */
  /* text-align: right;文章を右寄せする */
  /* float: right;  */
  /* font-size: 2.0em;   */
/* } */
main{
  min-height: 1000vh;
  display: flex;
  margin-top: 5px;
}
.main{
  flex: 1;
  background-color: #eee;
  text-align: center;
  margin-left: 5px;
}

.menu{
  width: 200px;
  /* text-align: center; */
  background-color: #EEFFFF;
  color: #333;
  font-size: 1.2em;  
}
/* .pail{
  width: 200px;
  background-color: #EEFFFF;
  color: #333;
   text-align: center;
 
} */