fieldset{
  width:500px;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;

}

button[type="submit"]{
  width:30%;
  padding:2%;
  font-size:90%;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border-radius: 5px;  
  background-color: #248;/* 背景色を濃い青色に指定 */
  color: #fff;/* 文字色を白色に指定 */
  box-shadow: 2px 2px 3px 1px #666;
  -moz-box-shadow: 2px 2px 3px 1px #666;
  -webkit-box-shadow: 2px 2px 3px 1px #666;

}

label {
  /* すべてのラベルを同じサイズにして、きちんと揃える */
  display: inline-block;
  width: 300px;
  text-align: right;
  font-size:1.2em;
  height: 1.6em;
  /* background: orange; */
}
