#table1{
  width: 50%;
}
#table1 th{
  height: 80px;
  background-color: greenyellow;
  font-size:30px;
}
#table1 td{
  height: 40px;
}
#table1 td input[type=text]{
  height: 25px;
}
#table1 td input[type=checkbox]{
  width:			24px;
	height:			24px;
}

#table2{
  width: 90%;
}
#table2 th{
  height: 40px;
  background-color: #0080FF;
  font-size:30px;
  color: #fff
}
#table2 td{
  height: 40px;
}
#table2 td input[type=text]{
  height: 25px;
}
#table2 td input[type=checkbox]{
  width:			24px;
	height:			24px;
}
label{
  font-size:28px;
}
.inpt{
  height: 30px;
}

button{
  width: 15%;
  padding: 1%;
  /* font-size:100%; */
  /* -moz-border-radius: 5px;  */
  /* -webkit-border-radius: 5px;  */
  border-radius: 5px;
  background-color: #5F9EA0;/* èƒŒæ™¯è‰²ã‚’ç·‘è‰²ã«æŒ‡å®š */
  color: #fff;/* æ–‡å­—è‰²ã‚’é»’ã«æŒ‡å®š */
  /* box-shadow: 2px 2px 3px 1px #666; */
  /* -moz-box-shadow: 2px 2px 3px 1px #666; */
  /* -webkit-box-shadow: 2px 2px 3px 1px #666; */
  font-size: 1.2em;
}
