{% extends "base.html" %}

{% block title %}打設{% endblock title %}
{% block content %}
    <h1>打設</h1><br>
    <!-- Pythonでできることを確かめるためにいったん保留 -->
    <!-- *********************************************************************
    * 現場で使用してもらう用で作成(2020/1/9~) ← サーバーやＤＢサーバーが立つまで
    ************************************************************************* -->
   
    <form class="myform" name="myform">
        <input name="csvget" id="csvget" type="file"><br><br><br>
        <!-- <textarea name="txtx" rows="5" cols="40" readonly></textarea><br><br> -->
    </form>
    <!-- <label class="operator-label">打設者:</label>
    <input class="inpt" type="text" id="text2" name="text" size="20" ><br> -->
    <label >連番:</label>
    <input type="text" class="serial_num" id="serial_num" name="serial_num">
    &emsp;
    <label>杭番号</label>
    <input type="text" class="pail_num" id="pail_num" name="pail_num">
    &emsp;
    <label>断面</label>
    <select class="cross_section" id="cross_section" name="cross_section"><br>
    <!-- <select class="cross_section" id="cross_section" name="cross_section" onchange="GetValue(this)"><br> -->
      <option value=""></option>
      <option value="下">下</option>
      <option value="中">中</option>
      <option value="上">上</option>
    </select>
    &emsp;
    <button class = "button1" type = "button1" onclick="GetValue()">決定</button> 
    <table id="table3" border="1" align="center"><br>
        <br>
        <tr>
            <!-- <th>No</th> -->
            <th>納品杭</th>
            <th>納品時間</th>
            <!-- <th>納品者</th> -->
            <!-- <th>材料検査</th> -->
            <!-- <th>検査者</th> -->
            <th>杭番号</th>
            <th>断面</th>
            <!-- <th>打設開始</th> -->
            <th>打設時刻</th>
            <!-- <th>打設者</th> -->
        </tr>
    </table><br>
    <button class = "button1" type = "button1" download="杭照合結果.csv" onclick="handleDownload()">登録</button>

    <!-- javascriptのコード↓ -->
    <script type = "text/javascript" > 
    /******************************************************
    * 適宜必要があれば"javascriptの奴ら"フォルダから持ってくる
    *******************************************************/

    /**********************
    * csvname時間の出力
    **********************/
    function nowtime_csv(){
        var now         = new Date();
        var Year        = now.getFullYear();
        var Month       = toDoubleDigits(now.getMonth()+1);
        var date        = toDoubleDigits(now.getDate());
        var Hour        = toDoubleDigits(now.getHours());
        var Min         = toDoubleDigits(now.getMinutes());
        // var Sec         = toDoubleDigits(now.getSeconds());
        return Year + "" + Month + "" + date + "_" + Hour + "" + Min; //日時
    }  

    /**********************
    * 完了時間の出力(表)
    **********************/
    function nowtime_table(){
        //★完了時間の出力★
        var now         = new Date();
        var Year        = now.getFullYear();
        var Month       = toDoubleDigits(now.getMonth()+1);
        var date        = toDoubleDigits(now.getDate());
        var Hour        = toDoubleDigits(now.getHours());
        var Min         = toDoubleDigits(now.getMinutes());
        // var Sec         = toDoubleDigits(now.getSeconds());
        return Year + "/" + Month + "/" + date + "/" + Hour + ":" + Min;         
    }
    
    /********************************
    * 時間に'0'付け関数
    **********************************/
    var toDoubleDigits = function(num) { 
        num += ""; 
        if (num.length === 1) { 
            num = "0" + num; 
        } 
        return num;      
    }; 

    /********************************
    * csv読み込み
    **********************************/
    var table = document.getElementById('table3');  //表のオブジェクトを取得
    var form = document.getElementById("csvget");
    form.addEventListener('change',function(evt){
        var file = evt.target.files[0];
        //FileReaderのインスタンスを作成する
        var reader = new FileReader();
        // ファイル読み取りに失敗したとき
        reader.onerror = function() {
            alert('ファイル読み取りに失敗しました');
        }
        //テキスト形式で読み込む
        reader.readAsText(file);
        var data = new Array();
        var rows =[];
        var pnum = new Array();
        //読込終了後の処理
        reader.addEventListener( 'load', function(){
            // 行単位で配列にする
            var rowArr = reader.result.split('\n');
            for(var i = 0; i < rowArr.length - 1; i++){
                data[i] =  rowArr[i].split(',');
            }
            for(var j = 0; j < rowArr.length - 1 ; j++){
                rows.push(table.insertRow(-1));
                //列は見出しの数※今回は5個
                for(var k = 0; k < 5; k ++){　//k < data[0].length
                    cell = rows[j].insertCell(-1);
                    if(!(data[j][k])){
                        cell.innerHTML = "";
                    }
                    else{
                        cell.innerHTML = data[j][k]; 
                    }
                }
            }
        })
        document.getElementById('serial_num').focus();
    },false);

    /********************************
        * テキスト値取得，貼付け
    **********************************/
    // function GetValue(select_flag){
    function GetValue(){
        var serial_num    = document.getElementById('serial_num').value;    //連番
        var pail_num      = document.getElementById('pail_num').value;    　//連番
        var cross_section = document.getElementById("cross_section").value; //断面
        // var cro           = select_flag.selectedIndex;
        // var cross_section = select_flag.options[cro].value;
        // var getname = document.getElementById('text2').value;      //受入者
        var table       = document.getElementById('table3');  //表のオブジェクトを取得
        var cells       = new Array();
        // td内のtrをループ。rowsコレクションで,行位置取得。
        for(var i = 1,rowlen = table.rows.length; i < rowlen; i++){ //11は列の数，これは変更する可能性あり
            //i行目の1列目のセルの値を取得(納品杭)
            cells.push(table.rows[i].cells[0].innerHTML);
        }

        var pailnum_position = cells.indexOf(serial_num); //配列の中のpailnumの数値がある配列位置を取得
        //連番があれば
        if(pailnum_position > -1){

            //エラー出力
            if(!(pail_num)){
                alert('杭番号を入力してください')
                document.getElementById('cross_section').value = "";
            }
            else{
                //初めての読取りの場合(時間が入力されていなければ)
                if(!(table.rows[pailnum_position + 1].cells[4].innerHTML)){
                    console.log(table.rows.length);
                    for(var i = 1; i < table.rows.length; i++){
                        if(table.rows[i].cells[2].innerHTML == pail_num){
                            console.log(i);
                            if(table.rows[i].cells[3].innerHTML == cross_section){
                                console.log(i);
                                alert('【入力情報】\n連番：' + serial_num + '\n杭番号：' + pail_num +
                                '\n断面：' + cross_section + '\n入力した杭番号と断面は登録されています');
                                var flag = 1;
                            }
                        }
                        // console.log(i);
                        // console.log(table.rows[i].cells[2]);
                    }
                    if(flag == 1){
                        document.getElementById('serial_num').value = "";
                        document.getElementById('cross_section').value = "";
                        document.getElementById('serial_num').focus();
                    }
                    else{
                        table.rows[pailnum_position + 1].cells[2].innerHTML = pail_num
                        table.rows[pailnum_position + 1].cells[3].innerHTML = cross_section
                        table.rows[pailnum_position + 1].cells[4].innerHTML = nowtime_table();
                        document.getElementById('serial_num').value = "";
                        document.getElementById('cross_section').value = "";
                        document.getElementById('serial_num').focus();                        
                    }

                }
                //二度目の読取りの場合
                else{
                    // alert('既に読み込まれています');
                    var result = window.confirm('「' + serial_num + '」' + 'は既に読み込まれています.\n入力済みの内容を上書きしますか.')
                    //修正する場合
                    if(result){
                        var save_pail_num =  table.rows[pailnum_position + 1].cells[2].innerHTML;
                        var save_cross_section = table.rows[pailnum_position + 1].cells[3].innerHTML;
                        var save_start_casting = table.rows[pailnum_position + 1].cells[4].innerHTML;
                        if(save_pail_num != pail_num){
                            table.rows[pailnum_position + 1].cells[2].innerHTML = save_pail_num + '→' + pail_num;
                            table.rows[pailnum_position + 1].cells[3].innerHTML = cross_section;
                            table.rows[pailnum_position + 1].cells[4].innerHTML = nowtime_table();
                            table.rows[pailnum_position + 1].cells[2].style.color = "red";
                            table.rows[pailnum_position + 1].cells[4].style.color = "red";
                        }
                        if(save_cross_section != cross_section){
                            table.rows[pailnum_position + 1].cells[2].innerHTML = pail_num;
                            table.rows[pailnum_position + 1].cells[3].innerHTML = save_cross_section + '→' + cross_section;
                            table.rows[pailnum_position + 1].cells[4].innerHTML = nowtime_table();
                            table.rows[pailnum_position + 1].cells[3].style.color = "red";
                            table.rows[pailnum_position + 1].cells[4].style.color = "red";
                        }

                        // table.rows[pailnum_position + 1].cells[2].innerHTML = pail_num;
                        // table.rows[pailnum_position + 1].cells[3].innerHTML = cross_section;
                        // table.rows[pailnum_position + 1].cells[4].innerHTML = nowtime();
                        // table.rows[pailnum_position + 1].cells[0].style.color = "red";
                        // table.rows[pailnum_position + 1].cells[1].style.color = "red";
                        // table.rows[pailnum_position + 1].cells[2].style.color = "red";
                        // table.rows[pailnum_position + 1].cells[3].style.color = "red";
                        // table.rows[pailnum_position + 1].cells[4].style.color = "red";
                        // table.rows[pailnum_position + 1].cells[9].innerHTML=""
                        // table.rows[pailnum_position + 1].cells[10].innerHTML=""
                        document.getElementById('serial_num').value = "";
                        document.getElementById('cross_section').value = "";
                        document.getElementById('serial_num').focus();
                    }
                    //修正しない場合
                    else{
                        document.getElementById('serial_num').value = "";
                        document.getElementById('cross_section').value = "";
                        document.getElementById('serial_num').focus();
                    }
                }
            }

        }
        else if(!(serial_num)){
            alert('杭を読込んでください');
            document.getElementById('serial_num').value = "";
            document.getElementById('cross_section').value = "";
            document.getElementById('serial_num').focus();
        }
        else{
            alert('読込んだ杭は納品されていません');
            document.getElementById('serial_num').value = "";
            document.getElementById('cross_section').value = "";
            document.getElementById('serial_num').focus();
        }
    }



    /********************************
    * csvダウンロード(着手)
    **********************************/
    function handleDownload() {
        var bom_end = new Uint8Array([0xEF, 0xBB, 0xBF]);    //文字コードをBOM付きUTF-8に指定 終わったもの
        var table = document.getElementById('table3');  //id=table2という要素を取得
        var data_csv_end = "";                            //ここに文字データとして値を格納していく　終わったもの
        var cells = new Array();
        // td内のtrをループ。rowsコレクションで,行位置取得。
        for(var i = 1; i < table.rows.length; i++){ //11は列の数，これは変更する可能性あり
            //i行目の1列目のセルの値を取得(出荷実績)
            cells.push(table.rows[i].cells[1].innerHTML);
        }
    /********************************
    一番上に見出しを付けて次に値の出力
    ********************************/
        // ===============================================================
        // 見出しを付けてしまってはcsvで合体させるときに邪魔になるから排除する
        // ===============================================================
        // for(var i = 0;  i < 1; i++){
        //     for(var j = 0; j < table.rows[i].cells.length; j++){
        //         data_csv += table.rows[i].cells[j].innerHTML;               //HTML中の表のセル値をdata_csvに格納
        //         if(j == table.rows[i].cells.length-1) data_csv += "\n";     //行終わりに改行コードを追加
        //         else data_csv += ",";                                       //セル値の区切り文字として,を追加
        //     }
        // }
        for(var i=1; i < table.rows.length; i++){
            data_csv_end += table.rows[i].cells[0].innerHTML; //納品杭
            data_csv_end += ",";//セル値の区切り文字として,を追加
            data_csv_end += table.rows[i].cells[1].innerHTML; //納品時間
            data_csv_end += ",";//セル値の区切り文字として,を追加
            data_csv_end += table.rows[i].cells[2].innerHTML; //杭番号
            data_csv_end += ",";//セル値の区切り文字として,を追加
            data_csv_end += table.rows[i].cells[3].innerHTML; //断面
            data_csv_end += ",";//セル値の区切り文字として,を追加
            data_csv_end += table.rows[i].cells[4].innerHTML; //打設時刻
            data_csv_end += "\n";//行終わりに改行コードを追加
        }
    //*******************************
        var blob_end = new Blob([ bom_end, data_csv_end], { "type" : "text/csv" });//data_csvのデータをcsvとしてダウンロードする関数

        let link = document.createElement('a');
        link.href = window.URL.createObjectURL(blob_end);
        link.download =  "打設_" + nowtime_csv() + ".csv";
        link.click();
        delete data_csv_end;//data_csvオブジェクトはもういらないので消去してメモリを開放
    }
    </script>  
{% endblock content %}
