<!DOCTYPE html> 
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>メイン操作画面</title>
    <link rel="stylesheet" href="{% static 'css/operate.css' %}">
    <link rel="stylesheet" href="{% static 'css/head.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
</head>
<html lang="ja">      
    <body>
        <header class="head">
            <span class="head-left">
                <img src="https://www.asahikasei-kenzai.com/assets/img/header_logo.png" alt="AsahiKASEI 旭化成建材株式会社">
            </span>
            <a class = "login_name">Login:{{ user.username }} さん</a>
            <a class = "logout" href="{% url 'logout' %}">
                <span class="btn-logout-icon door"></span><br>
                ログアウト
            </a>
        </header>
        <main>
            <div class="menu">
                <!-- <br><button class = "buttnmenu" type="button" onclick = "location.href = '/collation'" target="_self">杭照合</button>
                <br><button class = "buttnmenu" type="button" onclick = "location.href = '/confirm'" target="_self">受入検査確認</button><br>
                <button class = "buttnmenu" type="button" onclick = "location.href = '/casting'" target="_self">打設位置・杭紐づけ/施工結果</button><br> -->
                <br><a class = "btn-social-flat" href = "{% url 'collation' %}" target="_self">
                        <span class="btn-social-flat-icon1">
                            <span class="btn-social-flat-icon-paper icon1"></span>
                        </span>
                        杭照合
                    </a><br>
                <br><a class = "btn-social-flat" href = "{% url 'confirm' %}" target="_self">
                        <span class="btn-social-flat-icon">
                            <span class="btn-social-flat-icon-light icon2"></span>
                        </span>
                        受入検査
                    </a><br>
                <br><a class = "btn-social-flat" href = "{% url 'casting' %}" target="_self">
                        <span class="btn-social-flat-icon">
                            <span class="btn-social-flat-icon-point icon3"></span>
                        </span>
                        打設位置+杭
                    </a><br>
                <br><a class = "btn-social-flat" href = "{% url 'management' %}" target="_self">
                        <span class="btn-social-flat-icon">
                            <span class="btn-social-flat-icon-clock">
                                <span class="icon4"></span>
                            </span>
                        </span>
                        進捗管理
                </a><br>
             </div>
            <div class="main">
                <br><a class="title">杭照合</a>
                <form class="myform" name="myform">
                    <br><input name="csvget" id="csvget" type="file" ><br><br>
                </form>
                <label class="operator-label">受入者:</label>
                <input class="inpt" type="text" id="text2" name="text" size="20" ><br>
                <label >通し番号:</label>
                <input class="inpt" type="text" id="text" name="text" size="20" onchange="GetValue()"><br>
                 <!-- javascriptで操作する場合 -->
                <table id="table1" border="1" align="center"><br>
                    <br>
                    <tr>
                        <th>No</th>
                        <th>出荷実績</th>
                        <th>受入実績</th>
                        <th>受入者</th>
                        <!-- <th>受入検査</th>
                        <th>検査者</th>
                        <th>打設位置</th>
                        <th>断面</th>
                        <th>打設開始</th>
                        <th>打設開始時刻</th>
                        <th>打設者</th> -->
                    </tr>
                </table><br>
                <!-- <b><a id="download" href="#" download="杭照合結果.csv" onclick="handleDownload()">csv保存</a></b><br>　 -->
                <button type = "button" download="杭照合結果.csv" onclick="handleDownload()">csv保存</button>

                <!-- ********************************
                 * javascript code↓
                 ********************************** -->

                <script type = "text/javascript" > 
                /********************************
                 * csv読み込み
                 **********************************/
                var table = document.getElementById('table1');  //表のオブジェクトを取得
                var form = document.getElementById("csvget");
                form.addEventListener('change',function(evt){
                    var file = evt.target.files[0];
                    //FileReaderのインスタンスを作成する
                    var reader = new FileReader();
                    // ファイル読み取りに失敗したとき
                    reader.onerror = function() {
                        alert('ファイル読み取りに失敗しました');
                    }
                    //テキスト形式で読み込む
                    reader.readAsText(file);
                    var data = new Array();
                    var rows =[];
                    //読込終了後の処理
                    reader.addEventListener( 'load', function(){
                        // 行単位で配列にする
                        var itemArr = reader.result.split(',');
                        for(var i = 0; i < itemArr.length; i++){
                            data =  reader.result.split(',');
                        }
                        for(var j = 0; j < itemArr.length; j++){
                            rows.push(table.insertRow(-1));
                            //列は初期で設定している見出しの数（<!-- 見出し -->）のとこ※杭照合は4個なのでk<4
                            for(var k = 0; k < 4; k ++){
                                cell = rows[j].insertCell(-1);
                                if(k ==　0){
                                    cell.innerHTML = j+1;       //No
                                }
                                else if(k == 1){
                                    cell.innerHTML = data[j];   //出荷実績
                                }
                                else{
                                    cell.innerHTML ="";         //その他
                                }
                            }
                        }
                    })
                    document.getElementById('text2').focus();
                },false);


                /********************************
                 * テキスト値取得，貼付け
                 **********************************/
                 function GetValue(){
                     var pailnum = document.getElementById('text').value;       //杭番号（注番）
                     var getname = document.getElementById('text2').value;      //操作者
                    //  document.getElementById("textout").value = pailnum;
                     var table = document.getElementById('table1');  //表のオブジェクトを取得
                     var cells = new Array();
                     console.log(table);
                     console.log(table.rows[0]);
                     // td内のtrをループ。rowsコレクションで,行位置取得。
                     for(var i = 1,rowlen = table.rows.length; i < rowlen; i++){
                        //i行目の1列目のセルの値を取得(出荷実績)
                        cells.push(table.rows[i].cells[1].innerHTML);
                     }
                     var pailnum_position = cells.indexOf(pailnum); //配列の中のpailnumの数値がある配列位置を取得
                     //杭番号があれば
                     if(pailnum_position > -1){
                         //初めての読取りの場合
                         if(!(table.rows[pailnum_position + 1].cells[2].innerHTML)){
                            //  table.rows[pailnum_position + 1].cells[2].innerHTML = pailnum; //「通し番号」に杭番号出力
                            var pailnum_save = pailnum;//「注番」保存
                         }
                         //二度目の読取りの場合
                        else{
                            alert('既に読み込まれています');
                            document.getElementById('text').value = "";
                            document.getElementById('text').focus();
                        }
                     }
                     else{
                         alert('受入れた杭番号は出荷実績に含まれていません');
                         document.getElementById('text').value = "";
                         document.getElementById('text').focus();
                     }
                     //照合結果出力
                     //出荷実績と通し番号が同じならば照合完了と出力
                    //  if(table.rows[pailnum_position + 1].cells[1].innerHTML == table.rows[pailnum_position + 1].cells[2].innerHTML){
                    //     table.rows[pailnum_position + 1].cells[3].innerHTML = "照合完了"
                    //     document.getElementById('text').value = "";
                    //     document.getElementById('text').focus();
                    //  }        
                    if(table.rows[pailnum_position + 1].cells[1].innerHTML == pailnum_save){
                        var now = new Date();
                        var Year = now.getFullYear();
                        var Month = now.getMonth()+1;
                        var date = now.getDate();
                        var Hour = now.getHours();
                        var Min = now.getMinutes();
                        var Sec = now.getSeconds();
                        table.rows[pailnum_position + 1].cells[2].innerHTML = Year + "/" + Month + "/" + date + "/" + Hour + ":" + Min + ":" + Sec;
                        document.getElementById('text').value = "";
                        document.getElementById('text').focus();
                        table.rows[pailnum_position + 1].cells[3].innerHTML = document.getElementById('text2').value
                     }              
                 }
                /********************************
                 * csvダウンロード
                 **********************************/
                function handleDownload() {
                    var bom = new Uint8Array([0xEF, 0xBB, 0xBF]);//文字コードをBOM付きUTF-8に指定
                    var table = document.getElementById('table1');//id=table1という要素を取得
                    var data_csv="";//ここに文字データとして値を格納していく
                    var cells = new Array();
                     // td内のtrをループ。rowsコレクションで,行位置取得。
                     for(var i = 1; i < table.rows.length; i++){
                        //i行目の1列目のセルの値を取得(出荷実績)
                        cells.push(table.rows[i].cells[1].innerHTML);
                     }
                /********************************
                一番上に見出しを付けて次に値の出力
                ********************************/
                // ===============================================================
                // 見出しを付けてしまってはcsvで合体させるときに邪魔になるから排除する
                // ===============================================================
                    // for(var i = 0;  i < 1; i++){
                    //     for(var j = 0; j < 11; j++){ //列の固定（建材に確認※20191028現在の想定では10個）
                    //         if(j == 0){data_csv += "No"}
                    //         else if (j == 1){data_csv += "出荷実績"}
                    //         else if (j == 2){data_csv += "受入実績"}
                    //         else if (j == 3){data_csv += "受入者"}
                    //         else if (j == 4){data_csv += "受入検査"}
                    //         else if (j == 5){data_csv += "検査者"}
                    //         else if (j == 6){data_csv += "打設位置"}
                    //         else if (j == 7){data_csv += "断面"}
                    //         else if (j == 8){data_csv += "打設完了"}
                    //         else if (j == 9){data_csv += "打設完了時間"}
                    //         else {data_csv += "打設者"}
                    //         if(j == 10) data_csv += "\n";//行終わりに改行コードを追加
                    //         else data_csv += ",";//セル値の区切り文字として,を追加
                    //     }
                    // }
                    for(var i=1; i < table.rows.length; i++){
                        data_csv += i;
                        data_csv += ",";//セル値の区切り文字として,を追加
                        data_csv += table.rows[i].cells[1].innerHTML; //出荷実績
                        data_csv += ",";//セル値の区切り文字として,を追加
                        data_csv += table.rows[i].cells[2].innerHTML; //受入実績
                        data_csv += ",";//セル値の区切り文字として,を追加
                        data_csv += table.rows[i].cells[3].innerHTML; //受入者
                        // data_csv += ",";//セル値の区切り文字として,を追加
                        // data_csv += ""; //受入検査
                        // data_csv += ",";//セル値の区切り文字として,を追加
                        // data_csv += ""; //検査者
                        // data_csv += ",";//セル値の区切り文字として,を追加
                        // data_csv += ""; //打設位置
                        // data_csv += ",";//セル値の区切り文字として,を追加
                        // data_csv += ""; //断面
                        // data_csv += ",";//セル値の区切り文字として,を追加
                        // data_csv += ""; //打設完了
                        // data_csv += ",";//セル値の区切り文字として,を追加
                        // data_csv += ""; //打設完了時間
                        // data_csv += ",";//セル値の区切り文字として,を追加
                        // data_csv += ""; //打設者
                        data_csv += "\n";//行終わりに改行コードを追加
                    }
                    // var now = new Date();
                    // var Year = now.getFullYear();
                    // var Month = now.getMonth()+1;
                    // var date = now.getDate();
                    // var Hour = now.getHours();
                    // var Min = now.getMinutes();
                    // var Sec = now.getSeconds();
                    // var filename = Year + "/" + Month + "/" + date + "/" + Hour + ":" + Min + ":" + Sec;
                //*******************************
                    var blob = new Blob([ bom, data_csv], { "type" : "text/csv" });//data_csvのデータをcsvとしてダウンロードする関数
                    //★ハイパーリンク
                    // if (window.navigator.msSaveBlob) { //IEの場合の処理
                    //     // window.navigator.msSaveBlob(blob, "杭照合結果.csv"); 
                    //     // window.navigator.msSaveBlob(blob, filename+".csv"); 
                    //     window.navigator.msSaveBlob(blob, "受入検査_"+cells+".csv"); 
                    //     //window.navigator.msSaveOrOpenBlob(blob, "test.csv");// msSaveOrOpenBlobの場合はファイルを保存せずに開ける
                    // } 
                    // else {
                    //     document.getElementById("download").href = window.URL.createObjectURL(blob);
                    //     // document.getElementById("download").download = "杭照合結果.csv";
                    //     // document.getElementById("download").download = filename+".csv";
                    //     document.getElementById("download").download = "受入検査_"+cells+".csv";
                    // }
                    let link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download =  "受入検査_" + cells + ".csv";
                    link.click();
                    delete data_csv;//data_csvオブジェクトはもういらないので消去してメモリを開放
                
                //*********************************
                // //*バッチファイルの実行
                //     var obj = new ActiveXObject("WScript.Shell");
                //     obj.Run("C:\Users\a1050453\Desktop\sample2\建材csv\2.施工現場csv受入検査\\join.bat");
                }
                </script>  
            </div>
        </main>
    </body>
</html> 