{% extends "base.html" %}
{% load static %}

{% block title %}納品確認{% endblock title %}
{% block content %}
    <h1>納品確認</h1><br>
    <!-- 2019/12/4 -->
    <!-- <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file">
        <input type="submit" value="アップロード">
    </form> -->

    <!-- Pythonでできることを確かめるためにいったん保留 -->
    <!-- *********************************************************************
        * 現場で使用してもらう用で作成(2020/1/9~) ← サーバーやＤＢサーバーが立つまで
        ************************************************************************* -->
    <!-- <form class="myform" name="myform">
        <br><input name="csvget" id="csvget" type="file" ><br><br>
    </form> -->
    <!-- <label class="operator-label">納品者:</label>
    <input class="inpt" type="text" id="text2" name="text" size="20" ><br> -->
    <label >連番</label>
    <input type="text" class="serial_num" id="serial_num" name="serial_num" onchange="GetValue()"><br>
    <table id="table1" border="1" align="center"><br>
        <br>
        <tr>
            <th>納品杭</th>
            <!-- <th>出荷実績</th> -->
            <th>納品時間</th>
            <!-- <th>納品者</th> -->
        </tr>
    </table><br>
    <button class = "button1" type = "button1" download="杭照合結果.csv" onclick="handleDownload()">登録</button>

    <!-- *********************************************************************
    * safariで音がならなかったので■の内容に変更した20200221
    ************************************************************************* -->
    <!-- <audio src="{% static 'bgm/ok.mp3' %}" id="ok" type="audio/mp3"></audio>
    <audio src="{% static 'bgm/ng.mp3' %}" id="ng" type="audio/mp3"></audio> -->

    <!-- ■ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.1/howler.min.js"></script>
    <script type = "text/javascript" > 
    /******************************************************
    * 適宜必要があれば"javascriptの奴ら"フォルダから持ってくる
    *******************************************************/
    
    /********************************
    * csv読込み
    **********************************/

    /**********************
    * csvname時間の出力
    **********************/
    function nowtime_csv(){
        var now         = new Date();
        var Year        = now.getFullYear();
        var Month       = toDoubleDigits(now.getMonth()+1);
        var date        = toDoubleDigits(now.getDate());
        var Hour        = toDoubleDigits(now.getHours());
        var Min         = toDoubleDigits(now.getMinutes());
        // var Sec         = toDoubleDigits(now.getSeconds());
        return Year + "" + Month + "" + date + "_" + Hour + "" + Min; //日時
    }  

    /**********************
    * 完了時間の出力(表)
    **********************/
    function nowtime_table(){
        //★完了時間の出力★
        var now         = new Date();
        var Year        = now.getFullYear();
        var Month       = toDoubleDigits(now.getMonth()+1);
        var date        = toDoubleDigits(now.getDate());
        var Hour        = toDoubleDigits(now.getHours());
        var Min         = toDoubleDigits(now.getMinutes());
        // var Sec         = toDoubleDigits(now.getSeconds());
        return Year + "/" + Month + "/" + date + " " + Hour + ":" + Min; //日時
    }

    /********************************
    * 時間に'0'付け関数
    **********************************/
    var toDoubleDigits = function(num) { 
        num += ""; 
        if (num.length === 1) { 
            num = "0" + num; 
        } 
        return num;      
    }; 

    /********************************
    * テキスト値取得，貼付け
    **********************************/
    function GetValue(){
        var serial_num = document.getElementById('serial_num').value;       //連番
        // var getname = document.getElementById('text2').value;      //操作者
        var table       = document.getElementById('table1');  //表のオブジェクトを取得
        var cells       = new Array();
        var row         = table.insertRow(-1);      // 行を行末に追加
        var cell1       = row.insertCell(-1);       // td分追加
        var cell2       = row.insertCell(-1);
        var now         = new Date();
        var Year        = now.getFullYear();
        var Month       = toDoubleDigits(now.getMonth()+1);
        var date        = toDoubleDigits(now.getDate());
        var Hour        = toDoubleDigits(now.getHours());
        var Min         = toDoubleDigits(now.getMinutes());
        var check       = 0;                                    //okかngか判断する用

        // var Sec         = toDoubleDigits(now.getSeconds());
        cell1.innerHTML = serial_num;   //納品杭の連番
        cell2.innerHTML = nowtime_table();
        // cell2.innerHTML = Year + "/" + Month + "/" + date + "/" + Hour + ":" + Min + ":" + Sec; //日時
        for(var i = 1,rowlen = table.rows.length; i < rowlen; i++){
            //i行目の0列目のセルの値を取得(納品杭)
            cells.push(table.rows[i].cells[0].innerHTML);
        }
        // console.log(cells);
        var serial_num = cells[cells.length - 1]
        for(var base = 0; base < cells.length - 1; base++){
            //入力値を基準としそれが既に入力されているか比較する/既に読込まれているとき
            if(serial_num == cells[base]){
                var row_num = table.rows.length;
                table.deleteRow(row_num - 1);
                var sound = new Howl({ src: ['/static/bgm/ng.mp3'] })
                sound.play()
                // var sounds = document.getElementById('ng');
                // sounds.play();
                alert('既に読み込まれています');
                // console.log(table);
                check = 1;
            }
        }
        // まだ読込まれていないとき
        if(check == 0){
            var sound = new Howl({ src: ['/static/bgm/ok.mp3'] })
            sound.play()
            // var sounds = document.getElementById('ok');
            // sounds.play(); 
        }

        document.getElementById('serial_num').value = "";
        document.getElementById('serial_num').focus();
    }
    /********************************
        * csvダウンロード
        **********************************/
    function handleDownload() {
        var bom = new Uint8Array([0xEF, 0xBB, 0xBF]);//文字コードをBOM付きUTF-8に指定
        var table = document.getElementById('table1');//id=table1という要素を取得
        var data_csv="";//ここに文字データとして値を格納していく
        var cells = new Array();
            // td内のtrをループ。rowsコレクションで,行位置取得。
            for(var i = 1; i < table.rows.length; i++){
                //i行目の0列目のセルの値を取得(出荷実績)
                cells.push(table.rows[i].cells[0].innerHTML);
            }
    /********************************
    一番上に見出しを付けて次に値の出力
    ********************************/
    // ===============================================================
    // 見出しを付けてしまってはcsvで合体させるときに邪魔になるから排除する
    // ===============================================================
        // for(var i = 0;  i < 1; i++){
        //     for(var j = 0; j < 11; j++){ //列の固定（建材に確認※20191028現在の想定では10個）
        //         if(j == 0){data_csv += "No"}
        //         else if (j == 1){data_csv += "出荷実績"}
        //         else if (j == 2){data_csv += "受入実績"}
        //         else if (j == 3){data_csv += "受入者"}
        //         else if (j == 4){data_csv += "受入検査"}
        //         else if (j == 5){data_csv += "検査者"}
        //         else if (j == 6){data_csv += "打設位置"}
        //         else if (j == 7){data_csv += "断面"}
        //         else if (j == 8){data_csv += "打設完了"}
        //         else if (j == 9){data_csv += "打設完了時間"}
        //         else {data_csv += "打設者"}
        //         if(j == 10) data_csv += "\n";//行終わりに改行コードを追加
        //         else data_csv += ",";//セル値の区切り文字として,を追加
        //     }
        // }

        for(var i=1; i < table.rows.length; i++){
            data_csv += table.rows[i].cells[0].innerHTML; //納品杭
            data_csv += ",";//セル値の区切り文字として,を追加
            data_csv += table.rows[i].cells[1].innerHTML; //納品時間
            data_csv += "\n";//行終わりに改行コードを追加
        }
    //*******************************
        var blob = new Blob([ bom, data_csv], { "type" : "text/csv" });//data_csvのデータをcsvとしてダウンロードする関数

        let link = document.createElement('a');
        link.href = window.URL.createObjectURL(blob);
        link.download =  "納品確認_" + nowtime_csv() + ".csv";
        link.click();
        delete data_csv;//data_csvオブジェクトはもういらないので消去してメモリを開放

    //*********************************

    }
    </script>  

{% endblock content %}