<!DOCTYPE html> 
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>メイン操作画面</title>
    <link rel="stylesheet" href="{% static 'css/operate.css' %}">
    <link rel="stylesheet" href="{% static 'css/head.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
</head>
<html lang="ja">      

    <body>
        <header class="head">
            <span class="head-left">
                <img src="https://www.asahikasei-kenzai.com/assets/img/header_logo.png" alt="AsahiKASEI 旭化成建材株式会社">
            </span>
            <a class = "login_name">Login:{{ user.username }} さん</a>
            <a class = "logout" href="{% url 'logout' %}">ログアウト</a>
        </header>
        <main>
            <div class="menu">
                <br><a class = "btn-social-flat" href = "{% url 'collation' %}" target="_self">
                        <span class="btn-social-flat-icon1">
                            <span class="btn-social-flat-icon-paper icon1"></span>
                        </span>
                        杭照合
                    </a><br>
                <br><a class = "btn-social-flat" href = "{% url 'confirm' %}" target="_self">
                        <span class="btn-social-flat-icon">
                            <span class="btn-social-flat-icon-light icon2"></span>
                        </span>
                        受入検査
                    </a><br>
                <br><a class = "btn-social-flat" href = "{% url 'casting' %}" target="_self">
                        <span class="btn-social-flat-icon">
                            <span class="btn-social-flat-icon-point icon3"></span>
                        </span>
                        打設位置+杭
                    </a><br>
             </div>
            <div class="main">
                <p>受入検査確認</p><br>
                <form name="myform">
                    <input name="csvget" id="csvget" type="file" ><br><br>
                    <!-- <textarea id = "textarea" name="txtx" rows="10" cols="40" readonly></textarea> -->
                </form>
                <label>操作者:</label>
                <input class="inpt" type="text" id="text2" name="text" size="20" ><br>
                <label>注番:</label>
                <input class="inpt" type="text" id="text" name="text" size="20" onchange="GetValue()"><br><br><br>
                <div id = "tabledivid" align="center" ></div><br><br>
                <!-- <table id = "tableid" align="center" ></table><br><br> -->
                <!-- <--//ダウンロード名は物件番号に変更する★-->
                <b><a id="download" href="#" download="杭照合結果.csv" onclick="handleDownload()">csv保存</a></b><br>　
                 <!-- ********************************
                 * javascript code↓
                 ********************************** -->
                <script type = "text/javascript" > 
                /*********
                *csvファイル選択ver
                **********/
                var table = document.createElement('table');  //表のオブジェクトを取得
                table.id = "tableid";                                   // tableidを付け加えないと今後呼び出せない
                // var element = document.getElementById("tableid");
                var form = document.getElementById("csvget");
                form.addEventListener('change',function(evt){
                    var file = evt.target.files[0];
                    //FileReaderのインスタンスを作成する
                    var reader = new FileReader();
                    // ファイル読み取りに失敗したとき
                    reader.onerror = function() {
                        alert('ファイル読み取りに失敗しました');
                    }
                    //テキスト形式で読み込む
                    reader.readAsText(file);
                    var data = new Array();
                    var rows =[];
                    //読込終了後の処理
                    reader.addEventListener( 'load', function(){
                        // 行単位で配列にする
                        var rowArr = reader.result.split('\n');
                        for(var i = 0; i < rowArr.length - 1; i++){
                            data[i] =  rowArr[i].split(',');
                        }
                        for(var j = 0; j < rowArr.length - 1 ; j++){
                            rows.push(table.insertRow(-1));
                            //列は見出しの数※今回は11個
                            for(var k = 0; k < data[0].length; k ++){
                                cell = rows[j].insertCell(-1);
                                // if(!(data[j][k])){
                                //     cell.appendChild(document.createTextNode("")); 
                                // }
                                // else{
                                //     cell.appendChild(document.createTextNode(data[j][k])); 
                                // }
                                if(!(data[j][k])){
                                    cell.innerHTML = "";
                                }
                                else{
                                    cell.innerHTML = data[j][k]; 
                                }
                                if(j == 0){
                                    cell.style.backgroundColor = "greenyellow"; // ヘッダ行
                                }
                                cell.style.border = "solid 1px black"; 
                            }
                        }
                         // 指定したdiv要素に表を加える
                        document.getElementById("tabledivid").appendChild(table);
                        document.getElementById("tabledivid").style.fontSize = '1.6em';    //table文字大きさ
                    })
                },false);
               
                /********************************
                 * テキスト値取得，貼付け
                **********************************/
                function GetValue(){
                     var pailnum = document.getElementById('text').value;       //杭番号（注番）
                     var getname = document.getElementById('text2').value;      //受入者
                    //  document.getElementById("textout").value = pailnum;
                     var table = document.getElementById('tableid');  //表のオブジェクトを取得
                     var cells = new Array();
                     // td内のtrをループ。rowsコレクションで,行位置取得。
                     for(var i = 1,rowlen = table.rows.length; i < rowlen; i++){ //11は列の数，これは変更する可能性あり
                        //i行目の1列目のセルの値を取得(出荷実績)
                        cells.push(table.rows[i].cells[1].innerHTML);
                     }
                     var pailnum_position = cells.indexOf(pailnum); //配列の中のpailnumの数値がある配列位置を取得
                    //杭番号があれば
                    if(pailnum_position > -1){
                         //初めての読取りの場合(時間が入力されていなければ)
                         if(!(table.rows[pailnum_position + 1].cells[4].innerHTML)){
                            //  table.rows[pailnum_position + 1].cells[2].innerHTML = pailnum; //「通し番号」に杭番号出力
                            var pailnum_save = pailnum;//「注番」保存
                         }
                         //二度目の読取りの場合
                        else{
                            alert('既に読み込まれています');
                            document.getElementById('text').value = "";
                            document.getElementById('text').focus();
                        }
                     }
                     else{
                         alert('受入れた杭番号は出荷実績に含まれていません');
                         document.getElementById('text').value = "";
                         document.getElementById('text').focus();
                     }
                      //照合結果出力
                     //出荷実績と通し番号が同じならば照合完了と出力
                     if(table.rows[pailnum_position + 1].cells[1].innerHTML == pailnum_save){
                        var now = new Date();
                        var Year = now.getFullYear();
                        var Month = now.getMonth()+1;
                        var date = now.getDate();
                        var Hour = now.getHours();
                        var Min = now.getMinutes();
                        var Sec = now.getSeconds();
                        table.rows[pailnum_position + 1].cells[4].innerHTML = Year + "/" + Month + "/" + date + "/" + Hour + ":" + Min + ":" + Sec;
                        document.getElementById('text').value = "";
                        document.getElementById('text').focus();
                        table.rows[pailnum_position + 1].cells[5].innerHTML = document.getElementById('text2').value
                     }  
                 }
               
                /********************************
                 * csvダウンロード
                 **********************************/
                function handleDownload() {
                    var bom = new Uint8Array([0xEF, 0xBB, 0xBF]);//文字コードをBOM付きUTF-8に指定
                    var table = document.getElementById('tableid');//id=table1という要素を取得
                    var data_csv="";//ここに文字データとして値を格納していく
                    /********************************
                    一番上に見出しを付けて次に値の出力
                    ********************************/
                    for(var i = 0;  i < 1; i++){
                        for(var j = 0; j < table.rows[i].cells.length; j++){
                            data_csv += table.rows[i].cells[j].innerHTML;//HTML中の表のセル値をdata_csvに格納
                            if(j == table.rows[i].cells.length-1) data_csv += "\n";//行終わりに改行コードを追加
                            else data_csv += ",";//セル値の区切り文字として,を追加
                        }
                    }
                    for(var i=1; i < table.rows.length; i++){
                        data_csv += i;
                        data_csv += ",";//セル値の区切り文字として,を追加
                        data_csv += table.rows[i].cells[1].innerHTML; //出荷実績
                        data_csv += ",";//セル値の区切り文字として,を追加
                        data_csv += table.rows[i].cells[2].innerHTML; //照合結果
                        data_csv += "\n";//行終わりに改行コードを追加
                    }
                    //*******************************
                    var blob = new Blob([ bom, data_csv], { "type" : "text/csv" });//data_csvのデータをcsvとしてダウンロードする関数
                    if (window.navigator.msSaveBlob) { //IEの場合の処理
                        window.navigator.msSaveBlob(blob, "杭照合結果.csv"); 
                        //window.navigator.msSaveOrOpenBlob(blob, "test.csv");// msSaveOrOpenBlobの場合はファイルを保存せずに開ける
                    } 
                    else {
                        document.getElementById("download").href = window.URL.createObjectURL(blob);
                    }
                    delete data_csv;//data_csvオブジェクトはもういらないので消去してメモリを開放
                }
                    /********************************
                     * csvファイルの取得 自動ファイル選択
                    **********************************/
                
                    // "C:\Users\a1050453\Desktop\sample2\建材csv\施工現場csv入力\杭照合結果.csv"
                    // const xhr = new XMLHttpRequest();
                    // console.log("1");
                    // file = "../../建材csv/施工現場csv入力/杭照合結果.csv"
                    // console.log("2");
                    // window.onload = function onLoad() {
                    //     console.log(file);
                    //     console.log("3");
                    //     xhr.open('GET', file, true); // GETでローカルファイルを開く
                    //     console.log("5");
                    //     console.log(xhr);
                    //     console.log("6");
                    //     var data1 = xhr.responseText;
                    //     xhr.send();
                    //     table2 = document.getElementById("tableid");
                    //     table2.innerHTML = data1;
                        
                    //     xhr.onload = () => {
                    //         console.log("6");
                    //         var file = evt.target.files[0];
                    //         //FileReaderのインスタンスを作成する
                    //         var reader = new FileReader();
                    //         // ファイル読み取りに失敗したとき
                    //         reader.onerror = function() {
                    //             alert('ファイル読み取りに失敗しました');
                    //         }
                    //         //テキスト形式で読み込む
                    //         reader.readAsText(file);

                    //         var data = new Array();
                    //         var rows =[];
                    //         //読込終了後の処理
                    //         reader.addEventListener( 'load', function(){
                    //             // 行単位で配列にする
                    //             var rowArr = reader.result.split('\n');
                    //             for(var i = 0; i < rowArr.length - 1; i++){
                    //                 data[i] =  rowArr[i].split(',');
                    //             }
                    //             console.log(rowArr.length);
                    //             console.log(data.length);
                    //             console.log(data[0]);
                    //             console.log(data[1]);
                    //             console.log(data[2]);
                    //             console.log(data[3]);
                    //             console.log(data[4]);
                    //             console.log(rowArr[0]);
                    //             console.log(rowArr[1]);
                    //             console.log(rowArr[2]);
                    //             console.log(rowArr[3]);
                    //             console.log(rowArr[4]);
                    //             console.log(rowArr[0].length);
                    //             console.log(rowArr[1].length);
                    //             console.log(rowArr[2].length);
                    //             console.log(rowArr[3].length);
                    //             console.log(rowArr[4].length);
                                
                    //             for(var j = 0; j < rowArr.length - 1 ; j++){
                    //                 rows.push(table.insertRow(-1));
                    //                 //列は見出しの数※今回は11個
                    //                 for(var k = 0; k < data[0].length; k ++){
                    //                     cell = rows[j].insertCell(-1);

                    //                     if(!(data[j][k])){
                    //                         cell.appendChild(document.createTextNode("")); 
                    //                     }
                    //                     else{
                    //                         cell.appendChild(document.createTextNode(data[j][k])); 
                    //                     }
                                        
                    //                     if(j == 0){
                    //                         cell.style.backgroundColor = "greenyellow"; // ヘッダ行
                    //                     }
                                        
                                    
                                        
                    //                 }
                    //             }
                    //             // 指定したdiv要素に表を加える
                    //             document.getElementById("tableid").appendChild(table);
                            
                    //             // element.style="border-collapse: collapse"
                    //             // element.style.border = "solid 1px black"; 
                    //             // element.style.borderColor = 'red'; 
                                
                    //         })
                    //     }
                    //     console.log("7");
                    // }
                    // console.log("4");

                    

                    // var div = document.getElementById("table");
                    // var form = document.getElementById("csvget");
                    // form.addEventListener('change',function(evt){
                    //     var file = evt.target.files[0];
                    //     //FileReaderのインスタンスを作成する
                    //     var reader = new FileReader();
                    //     // ファイル読み取りに失敗したとき
                    //     reader.onerror = function() {
                    //         alert('ファイル読み取りに失敗しました');
                    //     }
                    //     //テキスト形式で読み込む
                    //     reader.readAsText(file);
                    //     var data = new Array();
                    //     var rows =[];
                    //     //読込終了後の処理
                    //     reader.addEventListener( 'load', function(){
                    //         // 行単位で配列にする
                    //         var rowArr = reader.result.split('\n');
                    //         for(var i = 0; i < rowArr.length - 1; i++){
                    //             data[i] =  rowArr[i].split(',');
                    //         }
                    //         var str = "";
                    //         str += "<table>"; 
                    //         for(var j = 0; j < rowArr.length - 1 ; j++){
                    //             if(j = 0){
                    //                 str += "<tr>";
                    //                 for(var k = 0; k < data[0].length; k ++){
                    //                     str += "<th>";
                    //                     if(!(data[j][k])){
                    //                         str += ""; 
                    //                     }
                    //                     else{
                    //                         str += data[j][k]; 
                    //                     }
                    //                     str += "</th>";
                    //                     // if(j == 0){
                    //                     //     cell.style.backgroundColor = "greenyellow"; // ヘッダ行
                    //                     // }
                    //                 }
                    //                 console.log(str);
                    //                 str += "</tr>";
                    //                 break;
                    //             }
                                
                    //             else{
                    //                 str += "<tr>";
                    //                 //列は見出しの数※今回は11個
                    //                 for(var k = 0; k < data[0].length; k ++){
                    //                     str += "<td>";
                    //                     if(!(data[j][k])){
                    //                         str += ""; 
                    //                     }
                    //                     else{
                    //                         str += data[j][k]; 
                    //                     }
                    //                     str += "</td>";
                    //                 }
                    //                 str += "</tr>";
                    //             }
                    //         }
                    //         str += "</table>"; 
                    //         div.innerHTML = str;
                    //     })
                    // },false);
                    

// //CSVファイルを読み込む関数getCSV()の定義
// function getCSV(){
//     var req = new XMLHttpRequest(); // HTTPでファイルを読み込むためのXMLHttpRrequestオブジェクトを生成
//     req.open("get","http://10.82.90.69/建材csv/施工現場csv入力/杭照合結果.csv",true);
//     req.send(null);
//     req.onload = function(){
//         convertCSVtoArray(req.responseText);
//     }
// }


                </script>  
            </div>
        </main>
    </body>   
</html> 
