
<!DOCTYPE html> 
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>メイン操作画面</title>
    <link rel="stylesheet" href="{% static 'css/operate.css' %}">
    <link rel="stylesheet" href="{% static 'css/head.css' %}">
</head>
<html lang="ja">      

    <body>
        <header class="head">
            <a class = "login_name">Login:{{ user.username }} さん</a>
            <a class = "logout" href="{% url 'logout' %}">ログアウト</a>
        </header>
        <main>
            <div class="menu">
                <br><li><a href = "{% url 'collation' %}" target="_self">杭照合</a></li><br>
                <li><a href = "{% url 'pail_num_detail' %}" target="_self">杭番号,杭明細紐づけ</a></li><br>
                <li><a href = "{% url 'casting' %}" target="_self">打設確認</a></li><br>
             </div>
            <div class="main">
                <p>登録完了</p><br>

                <a href = "{% url 'pail_num_detail' %}" target="_self">杭番号,明細登録画面へ戻る</a><br>
            </div>
        </main>
    </body>
        
    
</html> 